html {
  background-color:rgb(141, 141, 170);
}

body {
  background-color: white;
  border-radius: 1rem;
  height: 100%;
  padding: 1rem 2rem 1rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  font-family: "Zen Maru Gothic", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.heading01 {
  position: relative;
	padding-bottom: 10px;
	font-size: 35px;
}
.heading01::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background-image: repeating-linear-gradient(45deg,rgb(245, 109, 145) 0px, rgb(245, 109, 145) 1px, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%);
	background-size: 8px 8px;
}
.heading02 {
  position: relative;
	padding-bottom: 10px;
}
.heading02::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background-image: repeating-linear-gradient(45deg,rgb(245, 109, 145) 0px, rgb(245, 109, 145) 1px, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%);
	background-size: 8px 8px;
}
a {
  color:rgb(245, 109, 145);
}
code {
  margin: 1em 0; /* ブロック前後の余白 */
  padding: 1em; /* ブロック内の余白 */
  border-radius: 5px; /* 角丸 */
  background-color: #eee !important; /* 背景色 */
  max-width: 350px;
}

.sample { padding: 0; }
.sample li {
  display: inline;
  width:100%;
  padding: 10px;
  }
  
  